/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  margin: 0;
}

:root {
  --border-radius-large: 16px;
  --border-radius-small: 12px;
  --box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
}

html,
body {
  --text-color: #222;
  --bkg-color: #fff;
  --btn-txt-color: white;
  --btn-bg-color: rgb(11, 88, 160);
  transition: all 0.3s ease-in-out;
}
html.dark-theme,
body.dark-theme {
  --text-color: #e72929;
  --bkg-color: #27272a;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  transition: all 0.3s ease-in-out;
}

body {
  background: var(--bkg-color);
}

h1,
p {
  color: var(--text-color);
}
